<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tid %><br>
    <%= f.text_field :tid %>
  </div>
  <div class="field">
    <%= f.label :slary %><br>
    <%= f.text_field :slary %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :pubtime %><br>
    <%= f.datetime_select :pubtime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
